@model IEnumerable<GarageWeb.Models.Dish>
@using GarageWeb.Infrastructure

@{
    ViewBag.Title = "Меню";
    var customCulture = new System.Globalization.CultureInfo("en-US");
    System.Threading.Thread.CurrentThread.CurrentCulture = customCulture;
}

@using (Html.BeginForm("Delete", "Menu", FormMethod.Post, new { id = "recall", style = "display: none;padding: 0 10px;" }))
{
    @Html.AntiForgeryToken()
    <h3>Ви впевнені що хочите видалити страву:</h3>
    <h2></h2>
    <input type="hidden" name="id" value=""/>
    <input type="submit" value="Видалити">
}
<div class="all-dishes">
    @if (Context.User.IsInRole("Admin"))
    {
        <a href="@Url.Action("Create", "Menu")" class="menu-create"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>  
    }
    
    @foreach (var item in Model)
    {
        <div class="dish">
             <img src="@item.ImageUrl"/>
           @if (Context.User.IsInRole("Admin"))
           {
               <div class="admin-menu">
                   <a href="@Url.Action("Edit","Menu",new { id = item.Id})" class="menu-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                   <a href="#recall"  onclick="displayFancybox('@item.Name', @item.Id);" class="menu-remove"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a>
               </div>
           }
            <div class="name">
               @item.Name
            </div>
             <div class="price">
                 <span class="for-price">@item.Price</span> грн
             </div>
            <div class="weight">
                <span class="for-weight">@item.Weight</span> г
            </div>
            @if (Settings.IsOrderingEnabled)
            {
                <div class="order">
                    <a href="" onclick="addToBusket(@item.Id)"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            }
            <div class="rating">
                @if (Context.User.Identity.IsAuthenticated && !((System.Security.Claims.ClaimsIdentity)Context.User.Identity).IsRated(item))
                {
                    @Html.BootstrapRating().Value(item.CurrentRating)
                }
                else
                {
                     @Html.BootstrapRating().Value(item.CurrentRating).ReadOnly
                }
                <input type="hidden" value="@item.Id" class='dishID'>
                @Html.AntiForgeryToken()
            </div>
            @Html.ActionLink("Детальніше", "Details", new { id = @item.Id }, new { @class = "detail" })
        </div>
    }
</div>