@model IEnumerable<GarageWeb.Models.Review>

@foreach (var r in Model)
{
    <div class="review">
        <img src="@r.User.AvatarUrl" />
        <div class="review-container">
            <div class="name">@r.User.Name</div>
            <div class="date">@r.Time</div>
            <div class="pre-text">@Html.Encode(r.Content)</div>
            @if (!string.IsNullOrEmpty(r.AdminAnswer))
            {
                <div class="admin-review">
                    <img src="/Images/AdminAvatar.jpg" />
                    <div class="review-container">
                        <div class="name">Адміністратор</div>
                        <div class="pre-text">@Html.Encode(r.AdminAnswer)</div>
                    </div>
                </div>
            }
            else if (Context.User.IsInRole("Admin"))
            {
                using (Html.BeginForm("AnswerToReview", "Menu", FormMethod.Post, new { @class = "comment" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="dishID" value="@r.DishId" />
                            <input type="hidden" name="reviewID" value="@r.Id" />
                            <textarea name="content"></textarea>
                            <input type="submit" value="Відповісти" class="detail" />
                }
            }
        </div>
    </div>
}
