@using Microsoft.Owin.Security;
@using System.Security.Claims;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-16" />

    <link href="~/Content/bootstrap-rating.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/Images/logo.png">
    <title>@ViewBag.Title - Garage on Web</title>
    
    @Styles.Render("~/Content/font-awesome/css/font-awesome.min.css")
    @Styles.Render("~/Content/slick/slick.css")
    @Styles.Render("~/Content/css")
   
</head>
<body>
   <header>
       <div class="logo">
           <img src="~/Images/logo.png" alt="Garage bar" />
           <div class="big-logo">G<span class="another-color">a</span>rage</div>
           <div class="small-logo">on web</div>
       </div>
       <div class="social">
           @if (HttpContext.Current.User.Identity.IsAuthenticated)
           {

               var identity = HttpContext.Current.User.Identity as ClaimsIdentity;
               string avatar = identity?.FindFirst("Avatar")?.Value;

               <div class="avatar">
                   <img src="@avatar" alt="You avatar" />
               </div>
               <div class="login">
                   Ви авторизовані як <span class="user-name">@HttpContext.Current.User.Identity.Name</span>
               </div>
               <div class="logout">
                   @Html.ActionLink("Вийти", "LogOut", "Admin")
               </div>
           }
           else
           {
               var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

               using (Html.BeginForm("ExternalLogin", "User", new { returnUrl = HttpContext.Current.Request.Url.AbsoluteUri }, FormMethod.Post))
               {
                    @Html.AntiForgeryToken()
                    <div class="icon">
                        
                        @foreach (AuthenticationDescription p in loginProviders)
                        {
                            <button type="submit" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"></button>
                        }
                    </div>
                   <div>Сейчас в корзине:<span class="count">@Session["Bucket"]</span></div>
               }
           }
       </div>
   </header>
    <ul class="menu"> 
        <li>@Html.ActionLink("Головна", "Index", "Home")</li>
        <li>@Html.ActionLink("Меню", "Index", "Menu")</li>
        <li>@Html.ActionLink("Новини", "Index", "News")</a></li>

        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <li>@Html.ActionLink("Налаштування", "Index", "Admin")</li>
        }
    </ul>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Serdiuk & Truba Production</p>
    </footer>

    
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-rating/bootstrap-rating.js")
    @Scripts.Render("~/Content/fancybox/jquery.fancybox.pack.js");
    @Scripts.Render("~/Content/slick/slick.min.js");
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/fancybox/jquery.fancybox.css")
    @Scripts.Render("~/Scripts/Main.js")
</body>
</html>
