@model IEnumerable<GarageWeb.Models.NewsEntry>

@{
    ViewBag.Title = "Новини";
}
@using (Html.BeginForm("Delete", "News", FormMethod.Post, new { id = "recall", style = "display: none;padding: 0 10px;" }))
{
    @Html.AntiForgeryToken()
    <h3>Ви впевнені що хочите видалити новину:</h3>
    <h2></h2>
    <input type="hidden" name="id" value="" />
    <input type="submit" value="Видалити">
}
<div class="all-news">
    @if (Context.User.IsInRole("Admin"))
    {
            <a href="@Url.Action("Create","News")" class="menu-create"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
       
    }

    @foreach (var item in Model)
    {
        <div class="news">
            <div class="right-block">
                <img src="@item.ImageUrl" />
                @if (Context.User.IsInRole("Admin"))
                {
                    <div class="admin-menu">
                        <a href="@Url.Action("Edit","News",new { id = item.Id})" class="menu-edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a href="#recall" onclick="displayFancybox('@item.Title', @item.Id);" class="menu-remove"><i class="fa fa-minus-square-o" aria-hidden="true"></i></a>

                    </div>
                }
            </div>
            <div class="left-block">
                <div class="name">
                    @item.Title
                </div>
                <div class="description">
                    @item.Description
                </div>
            </div>

            
        </div>
    }
</div>
