@model GarageWeb.Models.ViewModel.OrderViewModel
@{
    ViewBag.Title = "Order";
}

<div class="order-block">
    @using (Html.BeginForm("ProcessOrder", "Basket", FormMethod.Post, new { id = "order-form"}))
    {
        <div class="item">
            <div class="name">
                @Html.LabelFor(m => m.Name)
            </div> 
            @Html.TextBoxFor(m => m.Name)
        </div>
        <div class="item">
            <div class="name">
                @Html.LabelFor(m => m.Phone)
            </div>
            @Html.TextBoxFor(m => m.Phone)
        </div>
        <div class="item">
            <div class="name">
                Оберіть варіант оплати
            </div>
            <div class="wrapper-pay">
                <div class="wrapper-input"><input type="radio" name="ToPay" value="10" />Аванс</div>
                <div class="text">40 грн</div>
            </div>
                <div class="wrapper-pay">
                    <div class="wrapper-input">
                        <input type="radio" name="ToPay" value="120" />Повна сума
                    </div>
                    <div class="text">
                        200 грн
                    </div>
                </div>
            <div class="delivery">
                <input type="checkbox" name="delivery" value="" /> Доставка
            </div>
            
            </div>
        <div class="item delivery-address">
            <div class="name">
                @Html.LabelFor(m => m.DeliveryAddress)
            </div>
            @Html.TextBoxFor(m => m.DeliveryAddress)
        </div>
        <div class="order-time">
            <div class="name">Час замовлення</div>
            <div class="item">
                <div class="time">Година</div>
                @Html.DropDownListFor(m => m.TargetHour , new List<SelectListItem>()
               {
                   new SelectListItem() { Text = "01", Value = "1"},
                   new SelectListItem() { Text = "02", Value = "2"},
                   new SelectListItem() { Text = "03", Value = "3"}

               })
            </div>
            <div class="item">
                <div class="time">Хвилина</div>
                @Html.DropDownListFor(m => m.TargetMinute, new List<SelectListItem>()
               {
                   new SelectListItem() { Text = "10", Value = "10"},
                   new SelectListItem() { Text = "20", Value = "20"},
                   new SelectListItem() { Text = "30", Value = "30"},
                   new SelectListItem() { Text = "40", Value = "40"},
                   new SelectListItem() { Text = "50", Value = "50"},

               })
            </div>
        </div>
        <div class="cart">
            <div class="cart-name">Номер картки</div>
            <div class="cart-number">
                @Html.TextBoxFor(m => m.Card1)
                @Html.TextBoxFor(m => m.Card2)
                @Html.TextBoxFor(m => m.Card3)
                @Html.TextBoxFor(m => m.Card4)
            </div>
            <div class="datetime">
                <div class="item">
                    <div class="title">Місяць</div>
                    @Html.DropDownListFor(m => m.CardExpMonth, new List<SelectListItem>()
                   {
                       new SelectListItem() { Text = "01", Value = "1"},
                       new SelectListItem() { Text = "02", Value = "2"},
                       new SelectListItem() { Text = "03", Value = "3"},
                       new SelectListItem() { Text = "04", Value = "4"},
                       new SelectListItem() { Text = "05", Value = "5"},
                       new SelectListItem() { Text = "06", Value = "6"},
                       new SelectListItem() { Text = "07", Value = "7"},
                       new SelectListItem() { Text = "08", Value = "8"},
                       new SelectListItem() { Text = "09", Value = "9"},
                       new SelectListItem() { Text = "10", Value = "10"},
                       new SelectListItem() { Text = "11", Value = "11"},
                       new SelectListItem() { Text = "12", Value = "12"},

                   })
                </div>
                <div class="item">
                    <div class="title">Рік</div>
                    @Html.DropDownListFor(m => m.CardExpYear, new List<SelectListItem>()
                   {
                       new SelectListItem() { Text = "18", Value = "18"},
                       new SelectListItem() { Text = "19", Value = "19"},
                       new SelectListItem() { Text = "20", Value = "20"},

                   })
                </div>
            </div>
            <div class="cvv">
                <div class="title">СVV Code</div>
                @Html.TextBoxFor(m => m.CardCVV)
            </div>
        </div>
        <input type="submit" value="Оплатити" />
        @*@Html.ActionLink("Скасувати", "Details", new { id = @item.Id }, new { @class = "detail" })*@
        @*@Html.ActionLink("Оплатити", "Details", new { id = @item.Id }, new { @class = "detail" })*@
    }
</div>