@model GarageWeb.Models.ViewModel.OrderViewModel
@using GarageWeb.Infrastructure
@{
    ViewBag.Title = "Order";
    var worth = ViewBag.Worth;
    int partOfWorth;
    if (worth < 50)
    {
        partOfWorth = (int)worth / 2;
    }
    else
    {
        partOfWorth = 20;
    }
}

<div class="order-block">
    @using (Html.BeginForm("ProcessOrder", "Basket", FormMethod.Post, new { id = "order-form" }))
    {
        <div class="item">
            <div class="name">
                @Html.LabelFor(m => m.Name)
            </div> 
            @Html.TextBoxFor(m => m.Name,new { required="true"})
        </div>
        <div class="item">
            <div class="name">
                @Html.LabelFor(m => m.Phone)
            </div>
            <input type="tel" name="Phone" class="Phone" value="" required="" />
        </div>
        <div class="item">
            <div class="name">
                Оберіть варіант оплати
            </div>
            <div class="wrapper-pay">
                <div class="wrapper-input"><input type="radio" checked name="payment" value="@partOfWorth" />Аванс</div>
                <div class="text">@partOfWorth грн</div>
            </div>
            <div class="wrapper-pay">
                <div class="wrapper-input">
                    <input type="radio" name="payment" value="@worth" />Повна сума
                </div>
                <div class="text">
                    @worth
                </div>
            </div>

        </div>
        <div class="item">
            @if (Settings.IsShippingEnabled)
            {
                <div class="delivery wrapper-pay">
                    <div class="wrapper-input">
                        <input type="checkbox" name="delivery" value="30" /> Доставка
                    </div>
                    <div class="text">
                        30 грн
                    </div>
                </div>
                <div class="item delivery-address">
                    <div class="name">
                        @Html.LabelFor(m => m.DeliveryAddress)
                    </div>
                    @Html.TextBoxFor(m => m.DeliveryAddress)
                </div>

            }
        </div>
        <div class="order-time">
            <div class="name">Час замовлення</div>
            <div class="item">
                <div class="time">Година</div>
                @Html.DropDownListFor(m => m.TargetHour, new List<SelectListItem>()
               {
                   new SelectListItem() { Text = "01", Value = "1"},
                   new SelectListItem() { Text = "02", Value = "2"},
                   new SelectListItem() { Text = "03", Value = "3"},
                   new SelectListItem() { Text = "04", Value = "4"},
                   new SelectListItem() { Text = "05", Value = "5"},
                   new SelectListItem() { Text = "06", Value = "6"},
                   new SelectListItem() { Text = "07", Value = "7"},
                   new SelectListItem() { Text = "08", Value = "8"},
                   new SelectListItem() { Text = "09", Value = "9"},
                   new SelectListItem() { Text = "10", Value = "10"},
                   new SelectListItem() { Text = "11", Value = "11"},
                   new SelectListItem() { Text = "12", Value = "12"},
                   new SelectListItem() { Text = "13", Value = "13"},
                   new SelectListItem() { Text = "14", Value = "14"},
                   new SelectListItem() { Text = "15", Value = "15"},
                   new SelectListItem() { Text = "16", Value = "16"},
                   new SelectListItem() { Text = "17", Value = "17"},
                   new SelectListItem() { Text = "18", Value = "18"},
                   new SelectListItem() { Text = "19", Value = "19"},
                   new SelectListItem() { Text = "20", Value = "20"},
                   new SelectListItem() { Text = "21", Value = "21"},
                   new SelectListItem() { Text = "22", Value = "22"},
                   new SelectListItem() { Text = "23", Value = "23"},
                   new SelectListItem() { Text = "00", Value = "00"}

               })
            </div>
            <div class="item">
                <div class="time">Хвилина</div>
                @Html.DropDownListFor(m => m.TargetMinute, new List<SelectListItem>()
               {
                   new SelectListItem() { Text = "10", Value = "10"},
                   new SelectListItem() { Text = "20", Value = "20"},
                   new SelectListItem() { Text = "30", Value = "30"},
                   new SelectListItem() { Text = "40", Value = "40"},
                   new SelectListItem() { Text = "50", Value = "50"},

               })
            </div>
        </div>
       
        @Html.HiddenFor(t=>t.ToPay)
        <div class="btn-group">
            @Html.ActionLink("Повернутися до списку", "Index", null, new { @class = "detail" })
            <input type="submit" class="detail" value="Оплатити" />
        </div>
    }
    <script>
            $("input[name='ToPay']").val(@partOfWorth);
    </script>
</div>