@using GarageWeb.Models.ViewModel.AdminPanel
@model ChangeLoginViewModel

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="message-info">
        @Model.Message
    </div>
}
@using (Ajax.BeginForm("ChangeLoginInfo", new AjaxOptions() { UpdateTargetId = ChangeLoginViewModel.Name }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword)
        <div class="input-field">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "control" })
        </div>
        <div class="error-message"> @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })</div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Login)
        <div class="input-field">
            @Html.TextBoxFor(m => m.Login, new { @class = "control" })

        </div>
        <div class="error-message">@Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })</div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword)
        <div class="input-field">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "control" })

        </div>
        <div class="error-message"> @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })</div>
    </div>
    <div class="form-group">
        <input type="submit" value="Змінити" />
    </div>
}
