@using GarageWeb.Models.ViewModel
@using GarageWeb.Models.ViewModel.AdminPanel
@model AdminPanelViewModel
@{
    ViewBag.Title = "Panel";
}

@Styles.Render("~/Content/AdminPanel.css")

<div class="panels">

    <ul>
        <li>
            <input type="checkbox" checked><i></i>
            <h2>Змінити логін та пароль</h2>
            <div class="function-content" id="@ChangeLoginViewModel.Name">
                @Html.Partial("ChangeLoginInfo", Model.ChangeLoginBlock)
            </div>
        </li>
        <li>
            <input type="checkbox" checked><i></i>
            <h2>Налаштування Головної сторінки</h2>
            <div class="function-content" id="@MainPageSettingsViewModel.Name">
               @Html.Partial("ChangeMainPageSettings", Model.MainPageBlock)
            </div>
        </li>
        <li>
            <input type="checkbox" checked><i></i>
            <h2>Налаштування Онлайн замовлень</h2>
            <div class="function-content" id="@OrderingSettingsViewModel.Name">
                @Html.Partial("ChangeOrderingSettings", Model.OrderingBlock)
            </div>
        </li>
    </ul>
</div>


